$color-principal: #4a0868e5;
$color-secundario: white;
$color-terciario: #dd82afa6;
$color-cuarto: #ff0080;

// variables para los colores de la clase menu-bajo
$violeta: rgba(238, 130, 238, 0.822);
$azul: rgba(0, 0, 255, 0.863);
$amarillo: #ffff00da;
